<section id="about" class="vh-100" style="">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVvcGxlJTIwYXQlMjB3b3JrfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" class="img-fluid" alt="Image 4" style="width:100%">
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">  <!-- Add flex styles here -->
                <!-- Colonne 2 : Vous pouvez ajouter une image ou un formulaire ici. -->
                <div>  <!-- Wrap content in a div -->
                    <h2 class="text-black text-center my-5 w-100 h1"><strong>COMMENT ÇA MARCHE</strong></h2>
                    <p><span class="h5"><strong>Étape 1 :</strong></span> "Publiez ou recherchez des offres" - Mettez en avant vos compétences ou trouvez le talent parfait pour votre projet.</p>
                    <p><span class="h5"><strong>Étape 2 :</strong></span> "Collaborez en toute sécurité" - Utilisez nos outils intégrés pour une collaboration transparente et sécurisée.</p>
                    <p><span class="h5"><strong>Étape 3 :</strong></span> "Finalisez et évaluez" - Recevez des paiements sécurisés et donnez votre avis sur la collaboration.</p>
                    <p class="d-flex flex-column flex-sm-row justify-content-center">  <!-- Update class here -->
                        <span class="mb-2 mb-sm-0"><button class="btn btn-sm btn-secondary text-uppercase px-4 py-2 mx-4 rounded-pill">Déposez votre annonce</button></span>
                        <span class="mb-2 mb-sm-0"><button class="btn btn-sm btn-secondary text-uppercase px-4 py-2 mx-4 rounded-pill">Trouvez une offre</button></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
