<section id="contact" class="vh-100 mt-6 pt-6" style="background-color: black;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlb3BsZSUyMGF0JTIwd29ya3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" class="img-fluid" alt="Image 4" style="width:100%">
            </div>
            <div class="col-md-7 text-center">
                <h2 class="text-white h1">
                    PRÊT À TRANSFORMER VOTRE CARRIÈRE OU VOTRE ENTREPRISE ?
                </h2>
                <p class="d-flex flex-column flex-sm-row justify-content-center text-white">  <!-- Update class here -->
                    <span class="mb-2 mb-sm-0">
                        123 Anywhere St.<br>
                        Any City<br>
                        ST 12345<br>
                        Country<br>
                        Telephone: (123) 456-7890<br>
                        Mobile: (123) 456-7890<br>
                        hello@reallygreatsite.com
                    </span>
                    <span class="mb-2 mb-sm-0">
                        OFFICE HOURS<br>
                        Monday: 8am – 7pm<br>
                        Tuesday: 8am – 5pm<br>
                        Wednesday: 8am – 5pm<br>
                        Thursday: 8am – 7pm<br>
                        Friday: 8am – 5pm
                    </span>
                </p>
                <p class="d-flex flex-column flex-sm-row justify-content-center">  <!-- Update class here -->
                    <span class="mb-2 mb-sm-0"><button class="btn btn-sm btn-secondary text-uppercase px-4 py-2 mx-4 rounded-pill">Déposez votre annonce</button></span>
                    <span class="mb-2 mb-sm-0"><button class="btn btn-sm btn-secondary text-uppercase px-4 py-2 mx-4 rounded-pill">Trouvez une offre</button></span>
                    <span class="mb-2 mb-sm-0"><button class="btn btn-sm btn-secondary text-uppercase px-4 py-2 mx-4 rounded-pill">Trouvez une offre</button></span>
                </p>
            </div>
        </div>
    </div>
</section>
    