
<div class="d-flex rounded p-4 bg-white shadow">
    <!-- Première colonne pour l'image -->
    <div class="flex-shrink-0 d-flex align-items-center justify-content-center p-3 m-2" style="flex-basis: 20%;">
        <i class="h2 bi bi-building-check"></i>
    </div>

    <!-- Deuxième colonne pour le texte -->
    <div class="p-2">
        <p class="h5 font-weight-medium text-dark">
            <a href="" class="text-reset">
            {{ company.name }}
            </a>
        </p>
        <p class="">
            <span class="text-xs mx-2">
            Autres infos   
            </span>
        </p>
        <div class="d-flex align-items-center">
            {% for i in 1..5 %}
                {% if i <= 4 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73-3.522-3.356c-.33-.314-.158-.888.283-.95l4.898-.696L8 .068a.548.548 0 0 1 .984 0l2.184 4.374 4.898.696c.441.062.613.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M4.472.65c.39-.788 1.45-.788 1.84 0l1.882 3.791 4.21.612c.92.133 1.29 1.27.63 1.9l-3.046 2.97.719 4.192c.133.778-.685 1.374-1.374.88L8 13.01l-3.774 1.98c-.69.37-1.507-.103-1.374-.88l.72-4.192L.818 6.953c-.658-.632-.29-1.767.63-1.9l4.21-.612L4.472.65zm3.682 6.392c.2.196.29.47.25.745l-.72 4.193c-.122.715.175 1.142.73 1.372l3.774 1.98c.557.292 1.227-.248 1.076-.88l-.72-4.192 3.047-2.97c.588-.572.27-1.62-.5-1.753l-4.21-.613-1.882-3.791c-.328-.656-1.146-.656-1.474 0l-1.882 3.791-4.21.613c-.77.133-1.088 1.18-.5 1.753l3.047 2.97-.72 4.192c-.15.632.52 1.172 1.076.88l3.774-1.98c.555-.23.852-.657.73-1.372l-.72-4.193c-.04-.275.05-.55.25-.745l3.046-2.97-4.21-.612L8 1.043 4.734 4.07l-4.21.612 3.046 2.97c.2.196.29.47.25.745z"/>
                    </svg>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
